@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}


.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.custom-popup .leaflet-popup-content {
  margin: 12px;
  min-width: 200px;
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 8px;
  padding: 4px;
}

.leaflet-marker-icon {
  border: none;
  background: none;
}


